@mixin assombrir($white) {
  filter: brightness(0.7) saturate(1);
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $white;
    opacity: 0.5;
    z-index: -1;
    border-radius: 15px;
  }
}

.banner {
  position: relative;
  border-radius: 10px;
  height: 225px;
  max-width: 1240px;
  margin: auto;
  overflow: hidden;

  @media screen and (max-width: 1023px) {
    height: 170px;
  }

  @media screen and (max-width: 767px) {
    height: 111px;
  }
}

.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 225px;

  @media screen and (max-width: 1023px) {
    height: 170px;
  }

  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: start;
    height: 111px;
  }

  h1 {
    color: white;
    font-size: 48px;
    font-weight: 500;
    position: absolute;

    @media screen and (max-width: 1023px) {
      font-size: 36px;
    }

    @media screen and (max-width: 767px) {
      font-size: 24px;
      width: 220px;
      margin-left: 15px;
    }
  }
}

.banner-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  @include assombrir(rgba(0, 0, 0, 0.2));

  img {
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 10px;
  }
}

.banner-about {
  position: relative;
  border-radius: 10px;
  height: 225px;
  max-width: 1240px;
  margin: auto;
  overflow: hidden;

  .banner-about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 225px;
  }
}


